/* Estilos básicos, puedes personalizar según tu diseño */
.span {
    background-color: black;
    color: white;
}


.resultados {
    overflow-x: auto;
    height: 500px;
    width: 90%;
}


.logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.search-container2 {
    width: 100%;
    background-color: rgb(234, 231, 231);
}

.input {
    border-color: gray;
}

.linea {
    border: 1px solid gray;
    max-width: 60%;
    margin-left: 10px;
    margin-right: 10px;
    /* Ajusta el valor según tus preferencias */
}

.card-container {
    /* Agrega un desplazamiento vertical si es necesario */
}


.card1 {
    width: 90%;
    max-width: 700px;
    padding: 20px;
    background-color: rgb(216, 216, 216);
    border-color: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.cardImagen {
    width: 100%;
    min-width: 150px;
    height: auto;
    border-radius: 10%;
    border-style: groove;
    border-color: gray;
}

.contenedor-card {}

.divDetalles {
    padding: 1px;
    width: 40%;
}

.divImagen {
    padding: 1px;
    width: 60%;
}

.contenedor {
    font-family: Arial, sans-serif;
    width: 100%;
}


.botonBuscar {
    margin-left: 20px;
}

.input-group {
    width: 80%;
    margin-left: 20px;
    margin-right: 20px;
}