.logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.search-container {
    width: 100%;
    background-color: rgb(234, 231, 231);
}

.input {
    border-color: gray;
}

hr {
    border: 1px solid gray;
    width: 1000px;
    margin-left: 10px;
    margin-right: 10px;
    /* Ajusta el valor según tus preferencias */
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto;
    /* Agrega un desplazamiento vertical si es necesario */
}

.card-image {
    width: 300px;
    height: 300px;
    border-radius: 10%;
    border-style: groove;
    border-color: gray;
}

.contenedor-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-content: flex-end;
}

.div2 {
    padding: 1px;
    width: 100%;
    height: auto;
    border: solid black 2px;
    border-radius: 20px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.contenedor-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    width: 300px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;

}

.contenedor {
    font-family: Arial, sans-serif;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.input-group {
    width: 80%;
    margin-left: 20px;
    margin-right: 20px;
}

.botonBuscar {
    margin-left: 20px;
}